{% include 'overall_header.html' %}
{% INCLUDECSS '@mot_usermap/mot_usermap_acp.css' %}
{% if not INCLUDED_USERMAP_ACP %}
	{% INCLUDEJS '@mot_usermap/mot_usermap_acp.js' %}
    {% set INCLUDED_USERMAP_ACP = true %}
{% endif %}

<script type="text/javascript">
	function scrollToElement(inputName) {
		var domElement = document.getElementById(inputName);
		window.scrollTo(0, domElement.offsetTop);
	}

	var motUsermap = {};

	motUsermap.databaseError = '{{ lang('ACP_USERMAP_DATABASE_BIG_ERR')|e('js') }}';
	motUsermap.databaseErrorCC = '{{ ERROR_CC|e('js') }}';
	motUsermap.databaseErrorZC = '{{ ERROR_ZC|e('js') }}';
</script>

<h1>{{ lang('ACP_USERMAP_DATABASE') }}</h1>
<p>{{ lang('ACP_USERMAP_DATABASE_EXPLAIN') }}</p>

	{% if pagination %}
	<div class="pagination top-pagination">
		{% include 'pagination.html' %}
	</div>
	{% endif %}

	<h2>{{ lang('ACP_USERMAP_DATABASE_DATA') }}</h2>
	<table class="table1 zebra-table">
		<thead>
			<tr>
				<th>{{ lang('ACP_USERMAP_DATABASE_CC') }}</th>
				<th>{{ lang('ACP_USERMAP_DATABASE_ZIPCODE') }}</th>
				<th>{{ lang('ACP_USERMAP_DATABASE_NAME') }}</th>
				<th>{{ lang('ACP_USERMAP_DATABASE_LAT') }}</th>
				<th>{{ lang('ACP_USERMAP_DATABASE_LNG') }}</th>
				<th style="text-align: center;">{{ lang('OPTIONS') }}</th>
			</tr>
		</thead>
		<tbody>
		{% for database in database %}
			<tr>
				<td style="text-align: center;">{{ database.COUNTRYCODE }}</td>
				<td style="text-align: center;">{{ database.ZIPCODE }}</td>
				<td>{{ database.LOCNAME }}</td>
				<td style="text-align: right;">{{ database.LAT }}</td>
				<td style="text-align: right;">{{ database.LNG }}</td>
				<td style="text-align: center;">
					<a href="{{ database.U_EDIT }}">{{ ICON_EDIT }}</a>&nbsp;<a href="{{ database.U_DELETE }}">{{ ICON_DELETE }}</a>
				</td>
			</tr>
		{% else %}
		<tr>
			<td colspan="5" style="text-align: center;">{{ lang('ACP_USERMAP_DATABASE_NOENTRY') }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>

	{% if pagination %}
	<div class="pagination">
		{% include 'pagination.html' %}
	</div>
	{% endif %}

<form id="acp_usermap_database" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('ACP_USERMAP_DATABASE_NEW') }}</legend>
		<dl>
			<dt><label for="mot_usermap_database_cc">{{ lang('ACP_USERMAP_DATABASE_CC') ~ lang('COLON') }}</label><p>{{ lang('ACP_USERMAP_DATABASE_CC_EXP') }}</p></dt>
			<dd><input id="mot_usermap_database_cc" type="text" size="2" maxlength="2" name="mot_usermap_database_cc" value="{{ ACP_USERMAP_DATABASE_CC }}"></dd>
		</dl>
		<dl>
			<dt><label for="mot_usermap_database_zc">{{ lang('ACP_USERMAP_DATABASE_ZIPCODE') ~ lang('COLON') }}</label><p>{{ lang('ACP_USERMAP_DATABASE_ZC_EXP') }}</p></dt>
			<dd><input id="mot_usermap_database_zc" type="text" size="10" maxlength="10" name="mot_usermap_database_zc" value="{{ ACP_USERMAP_DATABASE_ZC }}"></dd>
		</dl>
		<dl>
			<dt><label for="mot_usermap_database_name">{{ lang('ACP_USERMAP_DATABASE_NAME') ~ lang('COLON') }}</label><p>{{ lang('ACP_USERMAP_DATABASE_NAME_EXP') }}</p></dt>
			<dd><input id="mot_usermap_database_name" type="text" size="20" maxlength="25" name="mot_usermap_database_name" value="{{ ACP_USERMAP_DATABASE_NAME }}"></dd>
		</dl>
		<dl>
            <dt><label for="mot_usermap_database_lat">{{ lang('ACP_USERMAP_DATABASE_LAT') ~ lang('COLON') }}</label><p>{{ lang('ACP_USERMAP_LAT_EXP') }}</p></dt>
            <dd><input id="mot_usermap_database_lat" type="text" size="11" maxlength="10" name="mot_usermap_database_lat" value="{{ ACP_USERMAP_DATABASE_LAT }}"></dd>
        </dl>
        <dl>
            <dt><label for="mot_usermap_database_lon">{{ lang('ACP_USERMAP_DATABASE_LNG') ~ lang('COLON') }}</label><p>{{ lang('ACP_USERMAP_LON_EXP') }}</dt>
            <dd><input id="mot_usermap_database_lon" type="text" size="11" maxlength="11" name="mot_usermap_database_lon" value="{{ ACP_USERMAP_DATABASE_LON }}"></dd>
        </dl>
        <p class="submit-buttons">
            <input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}">{#&nbsp;
            <input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}"> #}
        </p>
	{{ S_FORM_TOKEN }}
	</fieldset>
</form>

<p class="centered_text">
{{ USERMAP_VERSION }}
</p>

{% if !NEW_ZIPCODE %}
	<script>scrollToElement('acp_usermap_database');</script>
{% endif %}

{% include 'overall_footer.html' %}
