{% include 'overall_header.html' %}
{% INCLUDECSS '@mot_usermap/mot_usermap_acp.css' %}
{% if not INCLUDED_USERMAP_ACP %}
	{% INCLUDEJS '@mot_usermap/mot_usermap_acp.js' %}
    {% set INCLUDED_USERMAP_ACP = true %}
{% endif %}
{% import "acp_mot_usermap_macro.html" as forms %}
{% set switch_type = TOGGLECTRL_TYPE ?? 'toggle' %}

<script type="text/javascript">
	var form_name = 'acp_usermap_poi_legend';
	var text_name = 'mot_usermap_poi_legend_text';

	function scrollToElement(inputName) {
		var domElement = document.getElementById(inputName);
		window.scrollTo(0, domElement.offsetTop);
	}
	var motUsermap = {};
	/*
	* Define error messages
	*/
	motUsermap.mainErrorMsg1 = '{{ lang('ACP_USERMAP_GEONAMESUSER_ERR')|e('js') }}';
	motUsermap.mainErrorMsg2 = '{{ lang('ACP_USERMAP_APIKEY_ERROR')|e('js') }}';
</script>

<h1>{{ lang('SETTINGS') }}</h1>
<p>{{ lang('ACP_USERMAP_SETTINGS_EXPLAIN') }}</p>

<form id="acp_usermap_settings" name="acp_usermap_settings" method="post" action="{{ U_ACTION }}">
	{% if !ACP_USERMAP_ALLOW_URL_FOPEN %}
		<div class="error-box">
			<p>{{ lang('ACP_USERMAP_ALLOW_URL_FOPEN') }}</p>
		</div>
	{% endif %}

	<fieldset>
		<legend>{{ lang('ACP_USERMAP_GENERAL_SETTINGS') }}</legend>
		<dl>
			<dt><label for="mot_usermap_rows_per_page">{{ lang('ACP_USERMAP_ROWS_PER_PAGE') ~ lang('COLON') }}</label><p>{{ lang('ACP_USERMAP_ROWS_PER_PAGE_EXP') }}</p></dt>
			<dd><input id="mot_usermap_rows_per_page" type="number" min="2" max="50" name="mot_usermap_rows_per_page" value="{{ ACP_USERMAP_ROWS_PER_PAGE }}"></dd>
		</dl>
	</fieldset>
	<fieldset>
		<legend>{{ lang('ACP_USERMAP_MAPSETTING_TITLE') }}</legend>
		<p>{{ lang('ACP_USERMAP_MAPSETTING_TEXT') }}</p>
        <dl>
            <dt><label for="mot_usermap_lat">{{ lang('ACP_USERMAP_LAT') ~ lang('COLON') }}</label><p>{{ lang('ACP_USERMAP_LAT_EXP') }}</p></dt>
            <dd><input id="mot_usermap_lat" type="text" size="10" maxlength="10" name="mot_usermap_lat" value="{{ ACP_USERMAP_LAT }}"></dd>
        </dl>
        <dl>
            <dt><label for="mot_usermap_lon">{{ lang('ACP_USERMAP_LON') ~ lang('COLON') }}</label><p>{{ lang('ACP_USERMAP_LON_EXP') }}</p></dt>
            <dd><input id="mot_usermap_lon" type="text" size="10" maxlength="11" name="mot_usermap_lon" value="{{ ACP_USERMAP_LON }}"></dd>
        </dl>
        <dl>
            <dt><label for="mot_usermap_zoom">{{ lang('ACP_USERMAP_ZOOM') ~ lang('COLON') }}</label></dt>
            <dd><input id="mot_usermap_zoom" type="number" min="2" max="10" name="mot_usermap_zoom" value="{{ ACP_USERMAP_ZOOM }}"></dd>
        </dl>

		<hr>

		<p>{{ lang('ACP_USERMAP_MARKERS_TEXT') }}</p>
        <dl>
            <dt><label for="mot_usermap_markers_pc">{{ lang('ACP_USERMAP_MARKERS_PC') ~ lang('COLON') }}</label></dt>
            <dd><input id="mot_usermap_markers_pc" type="number" min="1" max="10" name="mot_usermap_markers_pc" value="{{ ACP_USERMAP_MARKERS_PC }}"></dd>
        </dl>
        <dl>
            <dt><label for="mot_usermap_markers_mob">{{ lang('ACP_USERMAP_MARKERS_MOB') ~ lang('COLON') }}</label></dt>
            <dd><input id="mot_usermap_markers_mob" type="number" min="1" max="10" name="mot_usermap_markers_mob" value="{{ ACP_USERMAP_MARKERS_MOB }}"></dd>
        </dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_USERMAP_GEONAMES_TITLE') }}</legend>
		<p>{{ GEONAMES_TEXT }}</p>
		<dl>
            <dt><label for="mot_usermap_geonamesuser">{{ lang('ACP_USERMAP_GEONAMESUSER') ~ lang('COLON') }}</label></dt>
            <dd><input id="mot_usermap_geonamesuser" type="text" size="50" maxlength="255" name="mot_usermap_geonamesuser" value="{{ ACP_USERMAP_GEONAMESUSER }}"></dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_USERMAP_GOOGLE_TITLE') }}</legend>
		<p>{{ GOOGLE_TEXT }}</p>
 		<dl>
			<dt><label for="mot_usermap_google_enable">{{ lang('ACP_USERMAP_GOOGLE_ENABLE') ~ lang('COLON') }}</label></dt>
			<dd>{{ forms.switch('mot_usermap_google_enable', ACP_USERMAP_GOOGLE_ENABLE, switch_type) }}</dd>
		</dl>
		<dl>
            <dt><label for="mot_usermap_google_key">{{ lang('ACP_USERMAP_GOOGLE_KEY') ~ lang('COLON') }}</label></dt>
            <dd><input id="mot_usermap_google_key" type="text" size="50" maxlength="255" name="mot_usermap_google_key" value="{{ ACP_USERMAP_GOOGLE_KEY }}"></dd>
		</dl>
		<hr>
		<dl>
            <dt><label for="mot_usermap_google_force">{{ lang('ACP_USERMAP_GOOGLE_FORCE') ~ lang('COLON') }}</label><p>{{ GOOGLE_FORCE }}</p></dt>
            <dd><input id="mot_usermap_google_force" type="text" size="50" maxlength="255" name="mot_usermap_google_force" value="{{ ACP_USERMAP_GOOGLE_FORCE }}"></dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_USERMAP_DATABASE_TITLE') }}</legend>
		<p>{{ lang('ACP_USERMAP_DATABASE_TEXT') }}</p>
 		<dl>
			<dt><label for="mot_usermap_database_enable">{{ lang('ACP_USERMAP_DATABASE_ENABLE') ~ lang('COLON') }}</label></dt>
			<dd>{{ forms.switch('mot_usermap_database_enable', ACP_USERMAP_DATABASE_ENABLE, switch_type) }}</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_USERMAP_POI_TITLE') }}</legend>
		<p>{{ lang('ACP_USERMAP_POI_TEXT') }}</p>
 		<dl>
			<dt><label for="mot_usermap_poi_enable">{{ lang('ACP_USERMAP_POI_ENABLE') ~ lang('COLON') }}</label><p>{{ lang('ACP_USERMAP_POI_ENABLE_EXP') }}</p></dt>
			<dd>{{ forms.switch('mot_usermap_poi_enable', ACP_USERMAP_POI_ENABLE, switch_type) }}</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_USERMAP_ICON_TITLE') }}</legend>
		<p>{{ lang('ACP_USERMAP_ICON_TEXT') }}</p>
		<dl>
			<dt>
				<label for='mot_usermap_iconsize_default'>{{ lang('ACP_USERMAP_POI_SIZE') ~ lang('COLON') }}</label>
				<p>{{ lang('ACP_USERMAP_ICONSIZE_EXP') }}</p>
			</dt>
			<dd>
				<input id="mot_usermap_iconsize_default" type="text" size="11" maxlength="10" name="mot_usermap_iconsize_default" onblur="motUsermap.cleanInput('mot_usermap_iconsize_default', '{{ MOT_USERMAP_ICONSIZE_DEFAULT|e('js') }}')" value="{{ MOT_USERMAP_ICONSIZE_DEFAULT }}">
			</dd>
		</dl>
		<dl>
			<dt>
				<label for='mot_usermap_iconanchor_default'>{{ lang('ACP_USERMAP_POI_ANCHOR') ~ lang('COLON') }}</label>
				<p>{{ lang('ACP_USERMAP_ICONANCHOR_EXP') }}</p>
			</dt>
			<dd>
				<input id="mot_usermap_iconanchor_default" type="text" size="11" maxlength="10" name="mot_usermap_iconanchor_default" onblur="motUsermap.cleanInput('mot_usermap_iconanchor_default', '{{ ACP_USERMAP_ICONANCHOR_DEFAULT|e('js') }}')" value="{{ ACP_USERMAP_ICONANCHOR_DEFAULT }}">
			</dd>
		</dl>
	</fieldset>

	<fieldset>
        <p class="submit-buttons">
            <input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}">&nbsp;
            <input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}">
        </p>
	{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% if ACP_USERMAP_POI_ENABLE %}
	<h2>{{ lang('ACP_USERMAP_POI_LEGEND') }}</h2>

	{# set this varible to disable display of URL bbcode #}
	{% if S_LINKS_ALLOWED %}
		{% set S_LINKS_ALLOWED_ORIG = S_LINKS_ALLOWED %}
		{% set S_LINKS_ALLOWED = false %}
	{% endif %}

	<form id="acp_usermap_poi_legend" name="acp_usermap_poi_legend" method="post" action="{{ U_ACTION_LEGEND }}" >
		<fieldset>
			<dl class="responsive-columns">
				<dt>
					<label for="mot_usermap_poi_legend_text">{{ lang('ACP_USERMAP_POI_LGND') ~ lang('COLON') }}</label>
					<p>{{ lang('ACP_USERMAP_POI_LGND_EXP') }}</p>
					<p>{% include('acp_posting_buttons.html') %}</p>
					<p id="color_palette_placeholder" data-orientation="h" data-height="12" data-width="15" data-bbcode="true"></p>
				</dt>
				<dd>
					<textarea id="mot_usermap_poi_legend_text" name="mot_usermap_poi_legend_text" rows="12" cols="50" maxlength="1000" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" data-bbcode="true">{{ ACP_USERMAP_POI_LGND }}</textarea>
					<br><input class="button2" type="submit" name="preview" formaction="{{ U_ACTION_LGND_PREVIEW }}" value="{{ lang('PREVIEW') }}">
				</dd>
			</dl>
			<dl>
				<dt><label for="preview">{{ lang('PREVIEW') }}</label></dt>
				<dd id="preview">{{ PREVIEW_TEXT }}</dd>
			</dl>
			<p class="submit-buttons">
				<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}">
			</p>
		{{ S_FORM_TOKEN }}
		</fieldset>
	</form>
	{# if this variable was originally set to true we have to set it to this state again #}
	{% if S_LINKS_ALLOWED_ORIG %}
		{% set S_LINKS_ALLOWED = true %}
	{% endif %}
{% endif %}

<fieldset>
	<dl>
		<dt><label>{{ lang('ACP_SUPPORT_USERMAP') }}</label></dt>
		<dd>
			<form action="https://www.paypal.com/donate" method="post" target="_top">
				<input type="hidden" name="hosted_button_id" value="JQQ5R6VM2XHW4">
				<input type="image" src="https://www.paypalobjects.com/en_US/DK/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="{{ lang('ACP_USERMAP_PAYPAL_TITLE') }}" alt="{{ lang('ACP_USERMAP_PAYPAL_ALT') }}">
				<img alt="" border="0" src="https://www.paypal.com/en_DE/i/scr/pixel.gif" width="1" height="1">
			</form>
		</dd>
	</dl>
</fieldset>

<p class="centered_text">{{ USERMAP_VERSION }}</p>

{% if JUMP_TO_POI_LEGEND %}
	<script>scrollToElement('acp_usermap_poi_legend');</script>
{% endif %}

{% include 'overall_footer.html' %}
