<!-- INCLUDE overall_header.html -->
<!-- IF not $INCLUDED_LEAFLETJS -->
	<!-- INCLUDEJS @mot_usermap/leaflet.js -->
	<!-- INCLUDEJS @mot_usermap/mot_usermap.js -->
	<!-- INCLUDECSS @mot_usermap/usermap.css -->
	<!-- INCLUDECSS @mot_usermap/leaflet.css -->
	<!-- DEFINE $INCLUDED_LEAFLETJS = true -->
<!-- ENDIF -->

<div id="page-body" class="page-body">

<!-- IF AUTH_USER || (POI_ENABLED && POI_SHOWTOALL) -->
	<!-- IF AUTH_USER -->	<!-- Shows the segment with search form only to authorised users if POIs are displayed for everybody -->
		<div class="forabg">
			<div class="inner">
				<ul class="topiclist">
					<li class="header">
						<dl class="row-item">
							<dt>
								<div class="list-inner">
									{L_USERMAP_SEARCHFORM}
								</div>
							</dt>
						</dl>
					</li>
				</ul>
			</div>
			<div class="panel bg1">
				<div class="usermap_search">
					<div class="search-form"><span class="search-text">{MAP_SEARCH}&nbsp;</span>
						<form id="plz_search">
							<select id="plz_choice">
							   <option value="1">1</option>
							   <option value="2">2</option>
							   <option value="5">5</option>
							   <option value="10">10</option>
							   <option value="25">25</option>
							   <option value="50">50</option>
							   <option value="100">100</option>
							</select>
							&nbsp;km&nbsp;
							<input class="button1" type="submit" value="{L_SUBMIT}" />
						</form>
					</div>
					<div id="seperation_hr"></div>
					<div id="solution"></div>
				</div>
			</div>
		</div>
	<!-- ELSE -->
		<!--  The following div's are necessary to provide valid id's for the js functions if no authorised user is looking at the map -->
		<div id="plz_search"></div><div id="seperation_hr"></div><div id="solution"></div>
	<!-- ENDIF -->
	
	<div class="forabg">
		<div class="inner">
			<ul class="topiclist">
				<li class="header">
					<dl class="row-item">
						<dt>
							<div class="list-inner">
								{L_USERMAP}
							</div>
						</dt>
					</dl>
				</li>
			</ul>
		</div>
		<div class="panel bg1">
			<div id="map_container">
			</div>
		</div>
	</div>

	<div class="forabg">
		<div class="inner">
			<ul class="topiclist">
				<li class="header">
					<dl class="row-item">
						<dt>
							<div class="list-inner">
								{L_USERMAP_LEGEND}
							</div>
						</dt>
					</dl>
				</li>
			</ul>
		</div>
		<div class="panel bg1">
			<!-- IF AUTH_USER -->
				<div id="map-legend">
					<p class="usermap_group_legend">{MAP_LEGEND}</p>
					<p>{L_USERMAP_LEGEND_TEXT}<br><br>{MAP_USERS}</p>
				</div>
			<!-- ENDIF -->
			<!-- IF POI_ENABLED -->
				<!-- IF AUTH_USER -->
					<hr>
				<!-- ENDIF -->
				<p>{L_POI_LEGEND_TITLE}</p>
				<div>
					<p>{POI_LEGEND}</p>
				</div>
			<!-- ENDIF -->
		</div>
	</div>
	<p class="usermap-thanks">{L_USERMAP_CREDENTIALS}<a href="http://www.geonames.org" target="_blank">www.geonames.org</a></p>

<!-- ELSE -->

	<div class="forabg">
		<div class="inner">
			<ul class="topiclist">
				<li class="header">
					<dl class="row-item">
						<dt>
							<div class="list-inner">
								{L_USERMAP}
							</div>
						</dt>
					</dl>
				</li>
			</ul>
		</div>
		<div class="panel bg1">
			<div>{L_USERMAP_NOT_AUTHORIZED}</div>
		</div>
	</div>

<!-- ENDIF -->
</div>

<!-- Handover of all necessary data to the js script -->
<script>
	var jsConfig = {MAPCONFIG};
	var jsServerConfig = {SERVERCONFIG};
	var jsMapData = {MAPDATA};
	var jsAuthUser = {AUTH_USER};
	var jsCurrentUser = {USER};
	var jsMapResult = '{L_MAP_RESULT}';
	var jsMapNoResult = '{L_MAP_NORESULT}';
	var jsPoiEnabled = {POI_ENABLED};
	var jsStreetDesc = '{L_STREET_DESC}';
	var jsTopoDesc = '{L_TOPO_DESC}';
	var jsUserDesc = '{L_USER_DESC}';
	var jsPoiDesc = '{L_POI_DESC}';
</script>
	
<!-- if POIs are enabled the following data must be handed over, too -->
<!-- IF POI_ENABLED -->
	<script>
		var jsPoiShowToAll = {POI_SHOWTOALL};
		var jsPoiData = {POIDATA};
	</script>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
