{% include 'overall_header.html' %}
{# include the html code for user POI input #}
{% include '@mot_usermap/usermap_poi_input.html' %}

{% if not INCLUDED_LEAFLETJS %}
	{% INCLUDECSS '@mot_usermap/leaflet.css' %}
	{% INCLUDECSS '@mot_usermap/usermap.css' %}
	{% INCLUDEJS '@mot_usermap/leaflet.js' %}
	{% INCLUDEJS '@mot_usermap/mot_usermap.js' %}
	{% set INCLUDED_LEAFLETJS = true %}
{% endif %}

<div id="page-body" class="page-body">

{% if VIEW_MAP_ALWAYS || (VIEW_MAP_SUBSRIBED && VALID_USER) || (POI_ENABLED && POI_VIEW) %}
	{% if VALID_USER %}	{# Shows the segment with postal code search form only to authorised users (users with correct land and postal code combination) #}
		<div class="forabg">
			<div class="inner">
				<ul class="topiclist">
					<li class="header">
						<dl class="row-item">
							<dt>
								<div class="list-inner">
									{{ lang('USERMAP_SEARCHFORM') }}
								</div>
							</dt>
						</dl>
					</li>
				</ul>
			</div>
			<div class="panel bg1">
				<div class="usermap_search">
					<div class="search-form"><span class="search-text">{{ MAP_SEARCH }}&nbsp;</span>
						<form id="plz_search">
							<select id="plz_choice">
							   <option value="1">1</option>
							   <option value="2">2</option>
							   <option value="5">5</option>
							   <option value="10">10</option>
							   <option value="25">25</option>
							   <option value="50">50</option>
							   <option value="100">100</option>
							</select>
							&nbsp;km&nbsp;
							<input class="button1" type="submit" value="{{ lang('SUBMIT') }}" />
						</form>
					</div>
					<div id="seperation_hr"></div>
					<div id="solution"></div>
				</div>
			</div>
		</div>
	{% else %}
		{#  The following div's are only necessary to provide valid id's for the js functions if an unauthorised user is looking at the map #}
		<div id="plz_search"></div><div id="seperation_hr"></div><div id="solution"></div>
	{% endif %}

	<div class="forabg">
		<div class="inner">
			<ul class="topiclist">
				<li class="header">
					<dl class="row-item">
						<dt>
							<div class="list-inner">
								{{ lang('USERMAP') }}
							</div>
						</dt>
					</dl>
				</li>
			</ul>
		</div>
		<div class="panel bg1">
			<div id="map_container">
			</div>
		</div>
	</div>

	<div class="forabg">
		<div class="inner">
			<ul class="topiclist">
				<li class="header">
					<dl class="row-item">
						<dt>
							<div class="list-inner">
								{{ lang('USERMAP_LEGEND') }}
							</div>
						</dt>
					</dl>
				</li>
			</ul>
		</div>
		<div class="panel bg1">
			{% if VALID_USER || VIEW_MAP_ALWAYS %}
				<div id="map-legend">
					<p class="usermap_group_legend">{{ MAP_LEGEND }}</p>
					<p>{{ lang('USERMAP_LEGEND_TEXT') }}<br><br>{{ MAP_USERS }}</p>
				</div>
			{% endif %}
			{% if POI_ENABLED && POI_VIEW %}
				{% if VALID_USER || VIEW_MAP_ALWAYS %}
					<hr>
				{% endif %}
				<p>{{ lang('POI_LEGEND_TITLE') }}</p>
				<div>
					<p>{{ POI_LEGEND }}</p>
				</div>
			{% endif %}
		</div>
	</div>
	<p class="usermap-thanks">{{ lang('USERMAP_CREDENTIALS') }}<a href="http://www.geonames.org" target="_blank">www.geonames.org</a></p>

{% else %}

	<div class="forabg">
		<div class="inner">
			<ul class="topiclist">
				<li class="header">
					<dl class="row-item">
						<dt>
							<div class="list-inner">
								{{ lang('USERMAP') }}
							</div>
						</dt>
					</dl>
				</li>
			</ul>
		</div>
		<div class="panel bg1">
			<div>{{ lang('USERMAP_NOT_AUTHORIZED') }}</div>
		</div>
	</div>

{% endif %}
</div>

{# Handover of all necessary data to the js script #}
<script>
	var jsConfig = {{ MAPCONFIG }};
	var jsServerConfig = {{ SERVERCONFIG }};
	var jsMapData = {{ MAPDATA }};
	var jsAuthUser = {{ VALID_USER }};
	let jsMapViewAlways = {{ VIEW_MAP_ALWAYS }}
	var jsCurrentUser = {{ USER }};
	var jsMapResult = "{{ lang('MAP_RESULT') }}";
	var jsMapNoResult = "{{ lang('MAP_NORESULT') }}";
	var jsPoiEnabled = {{ POI_ENABLED }};
	var jsStreetDesc = "{{ lang('STREET_DESC') }}";
	var jsTopoDesc = "{{ lang('TOPO_DESC') }}";
	var jsSatDesc = "{{ lang('SAT_DESC') }}";
</script>
	
{# if POIs are enabled the following data must be handed over, too #}
{% if POI_ENABLED %}
	<script>
		var jsPoiView = {{ POI_VIEW }};
		var jsPoiCreate = {{ POI_CREATE }};
		var jsPoiData = {{ POIDATA }};
		var jsUserDesc = "{{ lang('USER_DESC') }}";
		var jsPoiDesc = "{{ lang('POI_DESC') }}";
	</script>
{% endif %}

{% include 'overall_footer.html' %}
