{% include 'overall_header.html' %}
{% INCLUDECSS '@mot_usermap/usermap.css' %}

{% if NOT_AUTHORIZED %}
	<p>{{ lang('USERMAP_MOD_NOT_AUTHORIZED') }}</p>

{% else %}
	{% if POI_EXIST %}
		{% if not INCLUDED_LEAFLETJS %}
			{% INCLUDECSS '@mot_usermap/leaflet.css' %}
			{% INCLUDEJS '@mot_usermap/thirdparty/leaflet.js' %}
			{% INCLUDEJS '@mot_usermap/bbcode.js' %}
			{% INCLUDEJS '@mot_usermap/mot_usermap_mod_poi.js' %}
			{% set INCLUDED_LEAFLETJS = true %}
		{% endif %}

		{% set EXPLANATION = lang('POI_MOD_EXPL') %}
		{% set SHOW_ICON_SIZE = true %}

		<div class="approve_content">
			{% include '@mot_usermap/usermap_poi_input_box.html' %}
		</div>
		<script>
			var motUsermap = {};
			motUsermap.poiIconPath = {{ POI_ICON_PATH }};
			motUsermap.errorMsg = '{{ ERROR_MSG|e('js') }}';
			motUsermap.jsPoiData = {{ POIDATA }};
			motUsermap.jsPoiLayers = {{ POI_LAYERDATA }};
			motUsermap.defaultPoiIconSize = '{{ DEFAULT_POI_ICON_SIZE|e('js') }}';
			motUsermap.defaultPoiIconAnchor = '{{ DEFAULT_POI_ICON_ANCHOR|e('js') }}';
			motUsermap.jsStreetDesc = "{{ lang('STREET_DESC')|e('js') }}";
			motUsermap.jsTopoDesc = "{{ lang('TOPO_DESC')|e('js') }}";
			motUsermap.jsSatDesc = "{{ lang('SAT_DESC')|e('js') }}";
		</script>
	{% else %}
		<p class="heads-up">{{ lang('POI_NONEXISTENT') }}</p>
	{% endif %}
{% endif %}

{% include 'overall_footer.html' %}
